parameters:
	tempDir: temp/phpstan-cache
	level: max

	paths:
		- app
		- libs
		- tests
		- tools
		- www

	autoload_files:
		- tests/bootstrap.inc
		- tools/deploy.inc
		- vendor/autoload.php

	ignoreErrors:
		- '#Constant TEMP_DIR not found.#'
