<div id="loading">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="box-holder animated bounceInDown">
				<span class="load-box"><span class="box-inner"></span></span>
			</div>

			<div class="text-holder text-center">
				<h2>{='common.author'|translate}</h2>
				<h6>{='common.briefDescription'|translate}</h6>
			</div>
		</div>
	</div>
</div>
