text: """
Jmenuji se Dominik Harmim a jsem PHP vývojář ve společnosti PeckaDesign a student
Fakulty informačních technologií VUT v Brně. Programuji především webové aplikace v PHP.
Při své práci nejčastěji používám Nette Framewok a Git. Zajímám se o
webovou bezpečnsot a mám zkušenosti s různými ORM knihovnami jako např. Doctrine.
Při své práci také využívám znalosti JavaScript, HTML, CSS, SQL, aj. a běžně pracuji na
počítačích s operačními systémy založenými na Unix. Kromě vývoje webových aplikací
mám také zkušenosti s programováním v C, C++, C# a Java.
"""
