<!DOCTYPE html>
<html lang="{$locale}">
<head>
	{control head title => isset($title) ? $title : null}
</head>
<body>
	{control preLoader}

	{ifset #content}{include content}{/ifset}

	{control scrollToTop}

	{control footer}

	{control head:scripts}
</body>
</html>
